body,
.table {
  color: $default-text-color !important;
}
.btn-primary,
.btn-primary:hover,
.btn-primary:active {
  color: $defaultTextColor !important;
  background-color: $btnBgColor !important;
  border-color: $btnBgColor !important;
}
.accodian {
  width: 140px !important;
  display: inline-block;
  margin: 0 0 15px;
  cursor: pointer;
  #triangle-down {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 10px solid $btnBgColor;
    top: 9px;
    position: absolute;
    left: auto;
    right: 0;
    transition: all 0.5s;
    transform: rotate(0deg);
  }
  &.active #triangle-down {
    transform: rotate(-90deg);
  }
  &.active span:last-child {
    opacity: 0;
  }
}
.margin-zero {
  margin: 0;
}
h1,
h2 {
  color: $secondaryTextColor;
}
label {
  font-weight: 600;
}
main.content {
  min-height: 80vh;
}
.toggleActive {
  position: relative;
}
.toggleActive + div + .hide {
  display: none;
}
.btn {
  min-width: 100px;
  text-align: center;
}
.upload {
  display: inline-block;
  float: right;
}
.fileUpload {
  width: 100px;
  position: absolute;
  opacity: 0;
  right: 15px;
}
i.fa.fa-upload {
  color: $defaultTextColor;
  padding: 10px 42px;
  background: $btnBgColor;
  cursor: pointer;
}
.card-header {
  background-color: $cardHeaderBg;
  color: $secondaryTextColor;
}
th {
  background-color: $cardHeaderBg;
}
.page-link {
  cursor: pointer;
}
#triangle-down {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid $primaryBgColor;
  top: 12px;
  position: absolute;
  left: 70px;
  transition: all 0.5s;
  transform: rotate(0deg);
}
.toggleActive {
  #triangle-down {
    transform: rotate(-90deg);
  }
}
.card-body-question {
  position: relative;
  .single-question-marks {
    position: absolute;
    right: -5rem;
    top: 1.25rem;
    margin: 0;
  }
}
.card {
  @extend %box-shadow;
}
.fa-sign-in,
.fa-trash,
.fa-plus,
.fa-cog,
.fa-info-circle,
.fa-pencil,
.fa-wrench {
  margin-right: 10px;
}
