h1,
h2 {
  color: $primaryColor;
}

main.content {
  min-height: 500px;
}
.toggleActive + form + .hide {
  display: none;
}
.upload {
  display: inline-block;
  float: right;
}
i.fa.fa-upload {
  position: absolute;
  color: $white;
  padding: 10px 42px;
  background: #dc3545;
}
.card-header {
  background-color: #f7f8fa;
  color: $default;
}
th {
  background-color: #f7f8fa;
}
.page-link {
  cursor: pointer;
}
