h1,
h2 {
  color: $primaryColor;
}

main.content {
  min-height: 500px;
}
.toggleActive {
  display: none;
}
.upload {
  display: inline-block;
  float: right;
}
i.fa.fa-upload {
  position: absolute;
  color: $white;
  padding: 10px 42px;
  background: $blue;
}
.card-header {
  background-color: $header;
  color: $default;
}
th {
  background-color: $header;
}
.page-link {
  cursor: pointer;
}
