$borderColor: #ccc;
$primaryBgColor: #4db6ac;
$defaultTextColor: #fff;
$secondaryTextColor: #000;
$cardHeaderBg: #f7f8fa;
$default-text-color:#687178;
@import "header";
@import "page";
@import "footer";
@import "extends";
