$borderColor: #ccc;
$primaryBgColor: #2f93a2;
$defaultTextColor: #fff;
$secondaryTextColor: #000;
$cardHeaderBg: #f1f1f1;
$default-text-color: #687178;
$btnBgColor: #039be5;
$color1: #507c9a;
$color2: #507c9a;
$color3: rgb(33, 147, 176);
$color4: rgb(109, 213, 237);
$list: $color1, $color2;
$list1: $color3, $color4;
@mixin gradient($direction, $list) {
  background: -webkit-linear-gradient($direction, $list);
  background: -moz-linear-gradient($direction, $list);
  background: -o-linear-gradient($direction, $list);
  background: linear-gradient($direction, $list);
}
@import "header";
@import "page";
@import "footer";
@import "extends";
